// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "slapp_data_colors";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.status_tag {
  &.on {
    background-color: $slapp_data_ok;
  }
  &.off {
    background-color: $am-theme-error;
  }
}

.chart-container {
  max-width: 100%;
}

.color_box {
  width: 50px;
}

.panel {   
  
  .column {
    vertical-align: top; 
    
   .table-name {
      font-size: 1.5em;
      font: bold;
      margin-bottom: 10px;
    }
    

    
    &.sm {
      width: 30%;
      display: inline-block;
      margin: 20px 50px;
      
      &.right {
        margin-right: 10px;
        margin-left: auto;
      }
    }
    &.md {
      width: 40%;
      display: inline-block;
      margin: 20px 50px;
      
    }
    
    &.lg {
      width: 80%;
      display: inline-block;
      margin: 20px 50px;
    }
    
    .centered {
      margin: 50px auto 50px;
    }
  }
  
  &.sidebar_section {
    width: 100%;
  }
  
  width: 90%;
  margin: auto;


}