
$primary-color: #367BC7;
$muted-primary: #B7CED2;
$dark-secondary: #69312A;
$secondary-color: #F99F4A;

$slapp_data_ok: #009688;
$form_alert: orangered;

$text-color: #444;
$am-theme-error: #f44336 !default;